/*==============================
=            Footer            =
==============================*/

.footer {
    background-color: $dark-color;
    padding: 15px;
    color: $light-color;
    a {
        color: $light-color;
        @extend .text-decoration-none;
    }
    .list-std-item {
        a {
            opacity: .8;
        }
    }
    .list-std-title {
        .fa {
            @include desktop {
                display: none;
            }
        }
    }
}

.footer-grid {
    padding: 1rem;
    &-logo {
        @include phone {
            padding-bottom: 2rem;
            text-align: center;
            border-bottom: 1px solid $light-color;
        }
    }
    &-socmed {
        @include phone {
            order: 4;
            .list-std-item {
                display: inline-block;
                vertical-align: middle;
                margin-right: 1rem;
                .fa {
                    font-size: 3rem;
                }
            }
        }
    }
    &-download {
        @include phone {
            order: 5;
            .list-std-item {
                width: 50%;
                float: left;
            }
        }
    }
    &-toggled {
        @include phone {
            padding-top: 0;
            padding-bottom: 0;
            .list-std {
                display: none;
            }
            .list-std-title {
                padding-bottom: 4px;
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}

.footer-copyright {
    border-top: 1px solid $light-color;
    padding-top: .5rem;
}

.dropdown-location {
    margin-bottom: 2rem;
}