/*==============================
=            Header            =
==============================*/

.header-std {
    padding: 1.25rem 1rem;
    background-color: $light-color;
    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, .2));
    @include phone {
        padding: .5rem 1rem;
    }
    .container {
        padding: 0;
    }
    .navbar-nav {
        >.nav-item {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .nav-link {
            &:hover {
                color: $theme-color;
            }
        }
        .dropdown-menu {
            @include desktop {
                position: fixed;
            }
        }
    }
}

.header-std-sub {
    top: 80px;
}

$height-megamenu-dropdown: 70;
.header-megamenu {
    position: static;
    .dropdown-menu {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-width: 0;
        border-color: $light-color;
        margin: 0;
        height: $height-megamenu-dropdown * 1vh;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #f7f7f7;
        z-index: 9;
        overflow-y: scroll;
        padding-top: 0;
        border-radius: 0;
        @include desktop {
            display: block !important;
            opacity: 0;
            visibility: hidden;
            list-style-type: none;
            pointer-events: none;
        }
        @include transition(all .5s ease-out);
        [class*="col-"] {
            padding-top: 1.5rem;
            @include desktop {
                padding-left: 2rem;
                padding-right: 0;
                min-height: $height-megamenu-dropdown - .5 * 1vh;
            }
        }
        &.show {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }
}

.header-megamenu-list {
    position: relative;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    >li {
        padding-bottom: 1.75rem;
    }
    &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 160px;
        background-color: #bbb;
        bottom: 0;
        left: 0;
    }
    &:last-child {
        margin-bottom: 0;
        &::after {
            display: none;
        }
    }
}

.header-megamenu-title {
    font-family: $body-font;
    font-size: 18px;
    margin: 0;
}

.navbar-brand {
    @include desktop {
        margin-right: 50px;
    }
}

// HAMBURGER
.hamburger-std {
    display: none;
    position: fixed;
    z-index: 1040;
    top: 1rem;
    right: 1rem;
    height: 25px;
    padding: 0;
    @include rotate(180deg);
    .hamburger-box {
        width: 25px;
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 25px;
        height: 2px;
        background-color: $theme-color;
    }
    .hamburger-inner {
        width: 20px;
        margin: auto;
        &::before {
            top: -8px;
        }
        &::after {
            bottom: -8px;
        }
    }
    &.is-active {
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: $light-color;
        }
        .hamburger-inner {
            width: 25px;
            &::before {
                top: -10px;
            }
            &::after {
                bottom: -10px;
            }
        }
    }
    @include tablet {
        display: block;
    }
}

/* Mobile menu */

.dl-menuwrapper {
	width: 100%;
	float: right;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    position: fixed;
    z-index: 1250;
    top: 0;
    @include desktop {
        display: none;
    }
    &:first-child {
        margin-right: 100px;
    }
    ul {
        list-style: none;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    li {
        position: relative;
        &:last-child {
            padding-bottom: 0 !important;
        }
        a {
            display: block;
            position: relative;
            line-height: 1;
            color: $light-color;
            outline: none;
            font-size: 1.25rem;
            padding: .5rem 0;
            @extend .text-decoration-none;
        }
        &.dl-back {
            border-bottom: 1px solid $light-color;
            margin-top: -.5rem;
            margin-bottom: .5rem;
            > a {
                font-weight: bold;
                font-size: 1.25rem;
                padding-top: 0;
                padding-left: 0;
            }
        }
    }
}

.dl-menu {
	position: absolute;
    width: 100%;
    min-height: 100vh;
	opacity: 0;
	pointer-events: none;
	@include translateX(-100%);
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $theme-color;
    color: $light-color;
    padding: 1rem;
    &.dl-menu.dl-menu-toggle {
        @include transition(all .25s ease-out);
    }
    &.dl-menuopen{
        opacity: 1;
        pointer-events: auto;
        @include translateX(0);
    }
    .dl-submenu {
        margin: 0;
        padding: 0;
        position: static;
    }
}

// Submenu
.dl-submenu {
    background-color: $theme-color;
    color: $light-color;
    z-index: 999;
    min-height: 100vh;
    padding: 1rem;
    li {
        padding: .5rem 0;
        a {
            font-size: 1rem;
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 1rem;
        }
    }
}

.dl-menu-header {
    padding: 0 0 .75rem;
    border-bottom: 1px solid $light-color;
    margin-bottom: .5rem;
    // display: block !important;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

.dl-menu.dl-subview > li,
.dl-menu.dl-subview > li.dl-subviewopen > a,
.dl-menu.dl-subview > li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview > li.dl-subview,
.dl-menu.dl-subview > li.dl-subview .dl-submenu,
.dl-menu.dl-subview > li.dl-subviewopen,
.dl-menu.dl-subview > li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview > li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut 0.25s ease-out;
	animation: MenuAnimOut 0.25s ease-out;
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn 0.25s ease-in;
	animation: MenuAnimIn 0.25s ease-in;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn 0.25s ease-out;
	animation: SubMenuAnimIn 0.25s ease-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut 0.25s ease-out;
	animation: SubMenuAnimOut 0.25s ease-out;
}

@-webkit-keyframes MenuAnimIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes MenuAnimIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimOut {
	0% { }
	50% {
		// -webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		// -webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		// -webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut {
	0% { }
	50% {
	}
	75% {
		opacity: .5;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimIn {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn {
	0% {
		@include translateX(50%);
		opacity: 0;
	}
	100% {
		@include translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimOut {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
}