/*==============================
=            Layout            =
==============================*/


/*----------  CONTAINER  ----------*/

.container {
    @include desktop {
        max-width: 1108px;
    }
    @include desktop-lg {
        max-width: 1384px;
    }
}

.container-full {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}


/*----------  SECTION  ----------*/

.section-panel {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}


/*----------  Display Table  ----------*/

.display-table {
    display: table;
    width: 100%;
    .display-table-cell {
        display: table-cell;
        vertical-align: middle;
    }
    &.valign-top {
        .display-table-cell {
            vertical-align: top;
        }
    }
    &.valign-middle {
        .display-table-cell {
            vertical-align: middle;
        }
    }
    &.valign-bottom {
        .display-table-cell {
            vertical-align: bottom;
        }
    }
}


/*----------  GRID  ----------*/

.grid-nopadding {
    div[class*="col-"] {
        padding: 0;
    }
}

.main-wrapper {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - (540px + 80px));
    padding-top: 80px;
    @include phone {
        padding-top: 56px;
    }
}

.section {
    margin-bottom: 3.5rem;
    @include desktop {
        margin-bottom: 6rem;
    }
}