<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Lebih dari 1 juta driver Gojek siap melayani ojek online, taksi online, pesan antar makanan, kirim barang, belanja &amp; pembayaran. Download Gojek Super App." />
<meta name="keywords" content="gojek, gojek, go jek, hidup, tanpa, batas, ojek, online, indonesia, nadiem, driver, gofood, gomart, goshop, golife, gosend, gobox, gocar, goride, goride, gocar, gosend, gofood, golife, ojek online" />
<meta itemprop="name" content="Gojek Super App: Ojek Online, Taksi Online, Pesan Makan, Kirim Barang, Pembayaran">
<meta itemprop="description" content="Lebih dari 1 juta driver Gojek siap melayani ojek online, taksi online, pesan antar makanan, kirim barang, belanja &amp; pembayaran. Download Gojek Super App.">
<!-- CSS -->
<link href="assets/css/plugins.min.css" rel="stylesheet">
<link href="assets/css/app.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<title>Gojek Super App: Ojek Online, Taksi Online, Pesan Makan, Kirim Barang, Pembayaran</title>
<!-- Favicon -->
<link rel="icon" type="image/png" href="assets/images/favicon.png">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->