<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 footer-grid footer-grid-logo">
                <a href="/"><img src="assets/images/icon/gojek-white-text.svg" class="img-responsive " alt="GoJek"></a>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid">
                <h4 class="list-std-title">About Gojek</h4>
                <ul class="list-std">
                    <li class="list-std-item"><a href="http://gojek.com">Careers</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">Blog</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">Media Center</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">About Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid">
                <h4 class="list-std-title">Support</h4>
                <ul class="list-std">
                    <li class="list-std-item"><a href="http://gojek.com">Contact Us</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">Privacy Policy</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">Terms & Conditions</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">Help Center</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-socmed">
                <h4 class="list-std-title">Follow Us On</h4>
                <ul class="list-std">
                    <li class="list-std-item"><a href="http://gojek.com" aria-label="Link social media"><i class="fa fa-facebook-square"></i>&nbsp; <span class="d-none d-sm-inline-block">Facebook</span></a></li>
                    <li class="list-std-item"><a href="http://gojek.com" aria-label="Link social media"><i class="fa fa-twitter-square"></i>&nbsp; <span class="d-none d-sm-inline-block">Twitter</span></a></li>
                    <li class="list-std-item"><a href="http://gojek.com" aria-label="Link social media"><i class="fa fa-instagram"></i>&nbsp; <span class="d-none d-sm-inline-block">Instagram</span></a></li>
                    <li class="list-std-item"><a href="http://gojek.com" aria-label="Link social media"><i class="fa fa-youtube-square"></i>&nbsp; <span class="d-none d-sm-inline-block">Youtube</span></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-download">
                <h4 class="list-std-title">Download</h4>
                <ul class="list-std">
                    <li class="list-std-item"><a href="http://gojek.com"><img src="assets/images/google-play.jpg" class="img-responsive img-download" alt="GoJek"></a></li>
                    <li class="list-std-item"><a href="http://gojek.com"><img src="assets/images/app-store.jpg" class="img-responsive img-download" alt="GoJek"></a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-toggled dropdown-toggled">
                <h4 class="list-std-title togglet">Transport & Logistics <i class="fa fa-angle-down pull-right"></i></h4>
                <ul class="list-std togglec">
                    <li class="list-std-item"><a href="http://gojek.com">GoRide</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoCar</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoSend</a></li>
                    <li class="list-std-item"><a href="gobox.html">GoBox</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-toggled dropdown-toggled">
                <h4 class="list-std-title togglet">Food & FMCG <i class="fa fa-angle-down pull-right"></i></h4>
                <ul class="list-std togglec">
                    <li class="list-std-item"><a href="http://gojek.com">GoFood</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoFood Festival</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoMed</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-toggled dropdown-toggled">
                <h4 class="list-std-title togglet">Payments <i class="fa fa-angle-down pull-right"></i></h4>
                <ul class="list-std togglec">
                    <li class="list-std-item"><a href="http://gojek.com">GoPay</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoBills</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoPoints</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">PayLater</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoPulsa</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2 footer-grid footer-grid-toggled dropdown-toggled">
                <h4 class="list-std-title togglet">Daily Needs <i class="fa fa-angle-down pull-right"></i></h4>
                <ul class="list-std togglec">
                    <li class="list-std-item"><a href="http://gojek.com">GoMassage</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoClean</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoAuto</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoGlam</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoLaundry</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoDaily</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoFix</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4 footer-grid footer-grid-toggled dropdown-toggled">
                <h4 class="list-std-title togglet">News & Entertainment <i class="fa fa-angle-down pull-right"></i></h4>
                <ul class="list-std togglec">
                    <li class="list-std-item"><a href="http://gojek.com">GoPlay</a></li>
                    <li class="list-std-item"><a href="http://gojek.com">GoTix</a></li>
                </ul>
            </div>
        </div>        
        <!-- LOCATION -->
        <div class="row justify-content-end">
            <div class="col-md-3">
                <div class="btn-group dropup pull-right dropdown-location d-none d-sm-block">
                    <button type="button" class="btn btn-secondary btn-radius dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-map-marker"></i> Indonesia
                    </button>
                    <div class="dropdown-menu dropdown-menu-dark dropdown-menu-right">
                        <a class="dropdown-item" href="#"> Vietnam</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> Thailand</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> Singapore</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> Indonesia</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copyright ">
            <div class="col-12">
                <div class="center">
                    <small><p>&copy; 2019 Gojek <br> Gojek is a trademark of PT Aplikasi Karya Anak Bangsa. Registered in the Directorate General of Intellectual Property of the Republic of Indonesia.</p></small>
                </div>
            </div>
        </div>
    </div>
</footer>