<header class="navbar fixed-top navbar-expand-lg navbar-light header-std">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/images/icon/gojek-logo_normal.svg" alt="GoJek"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown header-megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSevcices" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownSevcices">
                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <h5 class="header-megamenu-title">Transport & Logistics</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goride-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gocar-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gosend-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="gobox.html"><img src="https://lelogama.go-jek.com/service_icon_text/gobox-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                    <h5 class="header-megamenu-title">Food & FMCG</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gofood-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/go-food-festival.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gomed-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 bg-light">
                                    <h5 class="header-megamenu-title">Payments</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gopay-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gobills-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gopoints-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/payment-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gopulsa-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                    <h5 class="header-megamenu-title">Daily Needs</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gomassage-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goclean-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goauto-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goglam-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/golaundry-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/godaily-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gofix-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md">
                                    <h5 class="header-megamenu-title">News & Entertainment</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/go-play-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gotix-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help Centre</a>
                </li>
                <li class="nav-item dropdown header-megamenu">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownJoinUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Join Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownJoinUs">
                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <h5 class="header-megamenu-title">Driver</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goride-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gocar-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gosend-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="gobox.html"><img src="https://lelogama.go-jek.com/service_icon_text/gobox-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 bg-light">
                                    <h5 class="header-megamenu-title">Business</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/normal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md">
                                    <h5 class="header-megamenu-title">Talent</h5>
                                    <ul class="header-megamenu-list list-unstyled">
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/gomassage-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goclean-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goauto-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                        <li>
                                            <a href="http://gojek.com"><img src="https://lelogama.go-jek.com/service_icon_text/goglam-horizontal.svg" alt="GoJek"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cerdikiawan</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <div class="dropdown mr-1">
                    <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-globe"></i> English
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLanguage">
                        <a class="dropdown-item" href="#">English</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Bahasa Indonesia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- MOBILE NAVIGATION -->
<div id="dl-menu" class="dl-menuwrapper">
    <div class="hamburger hamburger-std hamburger--3dx dl-trigger">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </div>    
    <ul class="dl-menu">
        <li class="dl-menu-header">
            <img src="assets/images/icon/gojek-logo-inverse.svg" alt="GoJek">
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#" class="dl-parent">Services <i class="fa fa-angle-right pull-right"></i></a>
            <ul class="dl-submenu">
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Transport & Logistics <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoRide</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoCar</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoSend</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="gobox.html">GoBox</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Food & FMCG <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood Festival</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoMed</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Payments <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoPay</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoBills</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoPoints</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">PayLater</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoPulsa</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Daily Needs <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoMassage</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoClean</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoAuto</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoGlam</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoLaundry</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoDaily</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFix</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">News & Entertainment <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoPlay</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoTix</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Help Center</a>
        </li>
        <li>
            <a href="#" class="dl-parent">Join Us <i class="fa fa-angle-right pull-right"></i></a>
            <ul class="dl-submenu">
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Driver <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood Festival</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoMed</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Business <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood Festival</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoMed</a></li>
                    </ul>
                </li>
                <li class="dropdown-toggled">
                    <h4 class="list-std-title togglet mb-1">Talent <i class="fa fa-angle-down pull-right"></i></h4>
                    <ul class="list-std togglec">
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoFood Festival</a></li>
                        <li class="list-std-item pb-2 pt-2 mb-1"><a href="http://gojek.com">GoMed</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Cerdikiawan</a>
        </li>
    </ul>
</div><!-- /dl-menuwrapper -->