/*===============================
=            Buttons            =
===============================*/

.btn {
    outline: 0 !important;
    box-shadow: none !important;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.btn-radius {
    border-radius: 1rem;
}