/*============================
=            Card            =
============================*/

.card-std {
    padding: 1rem;
    @include transition(all .5s ease-out);
    .card-img-top {
        width: auto;
        max-width: 100%;
    }
}

.card-shadow {
    @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
    &:hover {
        @include box-shadow(0 6px 18px 0 rgba(0,0,0,.2));
    }
}

.card-transparent {
    border-color: transparent;
}