/*================================
=            Dropdown            =
================================*/

.dropdown-menu {
    border-radius: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item {
    padding-top: .5rem;
    padding-bottom: .5rem;
    &:first-child {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.dropdown-menu-dark {
    background-color: lighten($dark-color, 5%);
    border-color: lighten($dark-color, 5%);
    color: $light-color;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-toggle {
    &::after {
        @include transition(all .25s ease-out);
        margin-left: .5rem;
    }
    &[aria-expanded="true"] {
        &::after {
            @include rotate(-180deg);
        }
    }
}