/*======================================
=            Elements Mixed            =
======================================*/


/*----------  Block Section  ----------*/

::selection {
    background: $theme-color;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: $theme-color;
    /* Firefox */
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: $theme-color;
    /* Safari */
    color: #FFF;
    text-shadow: none;
}

:active,
:focus {
    outline: none !important;
}

.img-download {
    width: 150px;
}

.generic-content {
    @include desktop {
        padding-left: 5rem;
    }
}

.generic-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.caption-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    .row {
        height: 100%;
    }
}

.caption {
    word-break: break-word;
    position: absolute;
    &-title {
        @include desktop {
            font-size: 3rem;
        }
        @include phone {
            font-size: 1.75rem;
        }
    }
    &-sub-title {
        @include desktop {
            font-size: 1.75rem;
        }
        @include phone {
            font-size: 1.25rem;
        }
    }
    &-pos-center {
        left: 0;
        right: 0;
        top: 50%;
        @include translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &-pos-center-left {
        top: 50%;
        @include translateY(-50%);
        left: 1rem;
    }
    &-pos-center-right {
        top: 50%;
        @include translateY(-50%);
        right: 1rem;
    }
    &-pos-top-center {
        top: 1rem;
        left: 0;
        right: 0;
        margin: auto;
    }
    &-pos-top-left {
        top: 1rem;
        left: 1rem;
    }
    &-pos-top-right {
        top: 1rem;
        right: 1rem;
    }
    &-pos-bottom-center {
        bottom: 0;
        left: 0;
        right: 0;
    }
    &-pos-bottom-left {
        bottom: 1rem;
        left: 1rem;
    }
    &-pos-bottom-right {
        bottom: 1rem;
        right: 1rem;
    }
    @include phone {
        padding: .75rem 1rem;
        &-pos-center-xs {
            left: 0;
            right: 0;
            top: 50%;
            bottom: auto;
            @include translateY(-50%);
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        &-pos-center-left-xs {
            left: 1rem;
            right: auto;
            top: 50%;
            @include translateY(-50%);
        }
        &-pos-center-right-xs {
            left: auto;
            right: 1rem;
            top: 50%;
            @include translateY(-50%);
        }
        &-pos-top-center-xs {
            top: 1rem;
            bottom: auto;
            left: 1rem;
            right: 1rem;
            margin: auto;
            text-align: center;
            @include translateY(0);
        }
        &-pos-top-left-xs {
            top: 1rem;
            bottom: auto;
            left: 1rem;
            right: auto;
            @include translateY(0);
        }
        &-pos-top-right-xs {
            top: 1rem;
            bottom: auto;
            left: auto;
            right: 1rem;
            @include translateY(0);
        }
        &-pos-bottom-center-xs {
            top: auto;
            bottom: 1rem;
            left: 1rem;
            right: 1rem;
            margin: auto;
            text-align: center;
            @include translateY(0);
        }
        &-pos-bottom-left-xs {
            top: auto;
            bottom: 1rem;
            left: 1rem;
            right: auto;
            @include translateY(0);
        }
        &-pos-bottom-right-xs {
            top: auto;
            bottom: 1rem;
            left: auto;
            right: 1rem;
            @include translateY(0);
        }
    }
}

.badge {
    font-family: $heading-font;
    font-size: 100%;
}

.badge-theme {
    background-color: $theme-color;
    color: $light-color;
}

.badge-num {
    height: 32px;
    width: 32px;
    line-height: 25px;
}