/*============================
=            LIst            =
============================*/

.list-std {
    list-style: none;
}

.list-std-item {
    margin-bottom: 1rem;
    @include desktop {
        margin-bottom: .5rem;
    }
}

.list-std-title {
    font-size: 1rem;
    margin-bottom: 1rem;
    .fa {
        @include transition(all .25s ease-out);
    }
    &.active {
        .fa {
            @include rotate(-180deg);
        }
    }
}

.media-list {
    @include desktop {
        padding: 1rem;
    }
}

.media-title {
    @include phone {
        font-size: 1.25rem;
    }
}