/*===============================
=            Sliders            =
===============================*/

.slick-slider {
    .slick-arrow {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        -o-object-fit: contain;
        object-fit: contain;
        background: #fff;
        outline: 0;
        border: 0;
        @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
        &.slick-disabled {
            opacity: .5;
        }
    }
}

.slick-prev,
.slick-next {
    &::before {
        content: '';
        display: inline-block;
        font: normal normal normal 14px/1 'FontAwesome';
        color: $theme-color;
        text-align: center;
        margin: auto;
        display: block;
    }
}

.slick-prev {
    left: -3.5rem;
    &::before {
        content: '\f053'
    }
}

.slick-next {
    right: -3.5rem;
    &::before {
        content: '\f054'
    }
}
.slick-dots {
    li {
        margin: 0;
        button {
            &::before {
                font-size: 25px;
            }
        }
    }
    li.slick-active button:before {
        color: $theme-color;
    }
}

// Slider for card
.slider-card {
    @include desktop {
        margin-top: 2rem;
    }
    a {
        color: inherit;
    }
    .slick-track {
        margin-left: 0;
    }
    .card-std {
        margin: .5rem;
    }
    .card-body {
        @include phone {
            display: none;
        }
    }
}

// Slider for nav
.slider-nav {
    .slick-track {
        @include desktop {
            width: 100% !important;
            transform: translate3d(0, 0, 0) !important;
        }
    }
    .items {
        cursor: pointer;
    }
    .media {
        border-radius: 1rem;
    }
    .slick-active {
        .media {
            background-color: $theme-color;
            color: $light-color;
            @include phone {
                padding: 1rem;
            }
        }
        .badge-theme {
            background-color: $light-color;
            color: $theme-color;
        }
    }
}

.slider-for {
    img {
        width: 100%;
    }
    @include phone {
        margin-bottom: 1.5rem;
    }
}