/*==================================
=            Typography            =
==================================*/

@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeue-Book.otf') format('opentype'), url('../fonts/MaisonNeue-Book.woff') format('woff'), url('../fonts/MaisonNeue-Book.ttf') format('truetype'), url('../fonts/MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue-Demi';
    src: url('../fonts/MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeue-Demi.otf') format('opentype'), url('../fonts/MaisonNeue-Demi.woff') format('woff'), url('../fonts/MaisonNeue-Demi.ttf') format('truetype'), url('../fonts/MaisonNeue-Demi.svg#MaisonNeue-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeueExtended-Bold';
    src: url('../fonts/MaisonNeueExtended-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MaisonNeueExtended-Bold.otf') format('opentype'), url('../fonts/MaisonNeueExtended-Bold.woff') format('woff'), url('../fonts/MaisonNeueExtended-Bold.ttf') format('truetype'), url('../fonts/MaisonNeueExtended-Bold.svg#MaisonNeueExtended-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    // font-size: 62.5%; /* Sets up the Base 10 stuff */
    font-size: $font-size-base;
}

body {
    font-family: $body-font;
    line-height: $line-height-base;
    font-size: $font-size-base;
    color: $body-color;
}


/*----------  Heading  ----------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
}

dl,
dt,
dd,
ol,
ul,
li {
    padding: 0;
}

a {
    color: $theme-color;
    @include transition(all .25s);
    &:hover,
    &:focus {
        color: $secondary-color;
    }
}

.text-title {
    font-size: 2rem;
    @include phone {
        font-size: 1.25rem;
    }
}

.text-title-lg {
    font-size: 2.25rem; 
    @include phone {
        font-size: 1.5rem;
    }
}

.link-underscore {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: -moz-calc(100% - 16px);
        width: calc(100% - 16px);
        height: 2px;
        background-color: $theme-color;
        visibility: hidden;
        bottom: -7px;
        left: 0;
        @include scaleX(0);
        @include transition(all .25s ease-out);
    }
    &:hover {
        &::after {
            @include scaleX(1);
            visibility: visible;
        }
    }
}